﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </environment>
</head>
<body>
   <div>
       @RenderBody()
   </div>
   <environment include="Development">
       <script src="~/jquery/dist/jquery.slim.js"></script>
       <script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
   </environment>
   <environment exclude="Development">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </environment>
</body>
</html>
